*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


.container{
    display: flex;
}


/* Colores generales */
h1{
    text-align: center;
}

h2{
    color: #ffffff;
    text-align: center;
}
body{
    background-color: #ff4c4c;
}

section{
 background-color: #ffffff;
 height: 600px;
}

article{
    /*display: inline-flex;*/ /* Toma solo el contenido*/
     display:flex;  /* Esto deja el espacio*/
     /* flex-direction: row;
     flex-wrap: wrap;     */
     flex-flow: row  wrap;
     border: 2px solid black;
     /* justify-content: space-around; */
     /* justify-content: center;
     justify-content: flex-end; */
     /* justify-content: space-between; */
     justify-content: space-evenly;
}

/* NOTA ==============
   NO olvidar que 
   flex-grow: Crece el elemento
   flex-shrink: Contrae el elemento
   
 */

.servicio{
    padding: 10px;
    /* Flex usa tres paramentros: 1) flex-grow 2) flex-shrink flex-basis                     ; */
    /* flex: 1 0 300px ; */
}

.servicio:nth-child(1){
  background-color:#E53935;
}
.servicio:nth-child(2){
    background-color: #8E24AA;
}
.servicio:nth-child(3){
    background-color:#3F51B5;

}

