*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Colores generales */
h1{
    text-align: center;
}

h2{
    color: #ffffff;
    text-align: center;
}
body{
    background-color: #ff4c4c;
}

section{
 background-color: #ffffff;
 height: 600px;
}

article{
    /*display: inline-flex;*/ /* Toma solo el contenido*/
     display:flex;  /* Esto deja el espacio*/
     /* flex-direction: row;
     flex-wrap: wrap;     */
     flex-flow: row  wrap;
     border: 2px solid black;
   
}

.servicio{
    padding: 10px;
    flex-grow: 1;

}

.servicio:nth-child(1){
  background-color:#E53935;
    order: 3;
    flex-grow: 2;
}
.servicio:nth-child(2){
    background-color: #8E24AA;
    order: -1; 
    flex-grow: 3;   
}
.servicio:nth-child(3){
    background-color:#3F51B5;
    order: 2;
    flex-grow: 4;
}

