*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* =======Estilos generales============ */
body{
    background-color: #d42e10;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1{
    color: #ffffff;
}
h2{
    color: #ffffff;
}
a{
    color: #0306b4;
}
/* ===========Estilos de las clases========= */

.container{
    background-color: #ffffff;
    max-width: 1000px;
    margin:0 auto;
}
.header-sitio {
    padding:0 20px;
    /* Flex aqui*/
    display: flex;
    flex-direction: column;
}
.header-sitio .navegacion {
    background-color: #0ea4b8;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.navegacion .logo{
    color: #ffffff;
}

.navegacion .menu-lista{
    display: flex;
    justify-content: space-around;

}

.navegacion .menu-lista li{
    list-style: none;
    margin-left: 10px;
    padding: 10px;
}
.navegacion .menu-lista li:hover{
    background-color: #d6da0e;
}
.navegacion .menu-lista li a{
    text-decoration: none;
    width: 200px;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
}

.container-flex{
    display: flex;
    flex-basis: 50%;
}

.container-flex .servicio:nth-child(1){
    background-color: rgba(228, 13, 13, 0.924);
    padding: 10px;
    
}

.container-flex .servicio:nth-child(2){
    background-color: rgb(105, 8, 161);
    padding: 10px;
  
}

.container-flex .servicio:nth-child(3){
    background-color: rgb(49, 15, 199);
    padding: 10px;

}
.menu{
    background-color:#0ea4b8;
   flex-basis: 50%;
}
.menu h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.menu .list{
    margin-left: 50px;
    margin-bottom: 20px;
}

